﻿@model IEnumerable<AdaRestaurants.Models.Brand>
<div class="box">
    <div class="container">
        <div class="tesla-carousel" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-autoplay="false" data-tesla-rotate="false">
            <div class="site-title">
                <ul class="wrapper-arrows">
                    <li><i class="icon-517 prev" title="left arrow"></i></li>
                    <li><i class="icon-501 next" title="right arrow"></i></li>
                </ul>
                <div class="site-inside"><span>Restoranlarımız</span></div>
            </div>
            <div class="row">
                <div class="tesla-carousel-items">
                    @foreach (var brd in Model)
                    {
                        <div class="col-md-3 col-xs-6">
                            <div class="product">
                                <div class="product-cover">
                                    <span class="product-action">

                                    </span>
                                    <div class="product-cover-hover"><span><a href="/SiteHome/FoodRestaurant/@brd.ID">Bax</a></span></div>
                                   
                                        <img src="/Images/@(brd.BrandName+".jpg")    " alt="product name" />
                                    

                                </div>
                                <div class="product-details">
                                    <h1>
                                        <a href="/SiteHome/FoodRestaurant/@brd.ID">
                                            @brd.BrandName
                                    </a>
                                </h1>
                                <p></p>
                               
                            </div>
                        </div>
                    </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>