﻿@model AdaRestaurants.Models.Food
@{
    ViewBag.Title = Model.FoodName + "FoodDetail";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<script>
    $(document).ready(function myfunction() {
        $(".addtobucket").click(function myfunction() {
            var id = $(this).attr("name");

            $.ajax({
                type: "GET",
                url: "/SiteHome/AddToBucket",
                data: { id: id },
                success: function myfunction() {
                    $.ajax({
                        type: "GET",
                        url: "/SiteHome/MiniBucketWidget",

                        success: function Verigetir(veri) {
                            $(".cart-all").html('');
                            $(".cart-all").html(veri);
                        }

                    });




                },
                error: function myfunction() {
                    alert("Seçdiyiniz yemək səbətə əlavə olunmadı");
                }
            });
        });
        });
</script>

<div class="product-one">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="the-slider product-big-image" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".product-image-arrows-right" data-tesla-prev=".product-image-arrows-left" data-tesla-container=".slide-wrapper">
                    <ul class="product-image-arrows">
                        <li class="product-image-arrows-left"><i class="icon-517" title="left"></i></li>
                        <li class="product-image-arrows-right"><i class="icon-501" title="right"></i></li>
                    </ul>
                    <ul class="slide-wrapper">
                        @foreach (var item in Model.Images)
                        {
                        <li class="slide"><img src="/images/@item.Name" alt="product image" /></li>
                        }
                    </ul>
                    <div class="row">
                        <ul class="the-bullets-dots" data-tesla-plugin="bullets">
@foreach (var itemf in Model.Images)
{
                            <li><div class="col-md-2 col-xs-2"><img src="/images/@itemf.Name" alt="product image" /></div></li>
}
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <h2>@Model.FoodName</h2>
                <div class="product-rate">
                    <i class="icon-423" title="full"></i>
                    <i class="icon-423" title="full"></i>
                    <i class="icon-423" title="full"></i>
                    <i class="icon-423" title="full"></i>
                    <i class="icon-421" title="empty"></i>
                </div>
                
                <div class="clear"></div>
                <div class="quantity">
                    <input type="button" value="-" class="minus">
                    <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text">
                    <input type="button" value="+" class="plus">
                    <span>10 sold / 12 available</span>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-price">PRICE : @Model.FoodPrice AZN</div>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="button-2 addtobucket" name="@Model.ID">Səbətə əlavə et</a>
                      
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="description">
                        <p>@Model.FoodDescription</p>

                        
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
