﻿@model AdaRestaurants.App_Classes.Bucket
<script src="~/Content/Zeon/js/jquery-1.10.0.min.js"></script>

<script>

    $(document).ready(function myfunction() {
        $(".deletefood").click(function DeleteFood() {
            var fId = $(this).attr("name");
            $.ajax({
                type: "GET",
                url: "/SiteHome/BucketFoodRemove",
                data: { id: fId },
                success: function myfunction() {
                    $.ajax({
                        type: "GET",
                        url: "/SiteHome/MiniBucketWidget",
                        success: function myfunction(data) {
                            $(".cart-all").html('');
                            $(".cart-all").html(data);

                        }
                    });
                },
                error: function myfunction() {
                    alert("error");
                }
            });
        });
    });
</script>


<div class="cart-all">
    <i class="icon-19" title="19"></i>
    @if (Model != null)
    {
       @Model.SumBucket.ToString("C2");
    }
    else
    {
        <span>0 AZN</span>
    }
    <div class="inside-cart">
        <p>@if (Model != null)
        {
            <span>Səbətdə toplam @Model.Foods.Sum(x => x.Quantity) ədəd məhsul var</span>
        }
        else {
            <span>Səbətdə 0 ədəd məhsul var.</span>
        }</p>
        <ul>

            @if (Model != null)
            {
                foreach (var item in Model.Foods)
                {
                    <li>
                        <div class="inside-cart-image">
                            @if (item.Food.Images != null)
                            {
                                <img src="/Images/@item.Food.Images.FirstOrDefault(x=>x.FoodId == item.Food.ID).Name" alt="product name" />
                            }
                        </div>
                        <a class="deletefood" name="@item.Food.ID">x</a>
                     
                            <a href="/SiteHome/FoodDetail/@item.Food.FoodName">@item.Food.FoodName</a>
                        

                        <p>Toplam: @item.Sum.ToString("C2")</p>
                        <p>Ədəd: @item.Quantity</p>
                    </li>
                }
            }
           
            

        </ul>
    </div>
</div>
