﻿@model IEnumerable<AdaRestaurants.Models.Food>
<script src="~/Content/Zeon/js/jquery-1.10.0.min.js"></script>


<script>
    $(document).ready(function myfunction() {
        $(".addtobucket").click(function myfunction() {
            var id = $(this).attr("name");
            
            $.ajax({
                type: "GET",
                url: "/SiteHome/AddToBucket",
                data: { id: id },
                success: function myfunction() {
                    $.ajax({
                        type: "GET",
                        url: "/SiteHome/MiniBucketWidget",
                        
                        success: function Verigetir(veri) {
                            $(".cart-all").html('');
                            $(".cart-all").html(veri);
                        }
                        
                    });
                    



                },
                error: function myfunction() {
                    alert("Seçdiyiniz yemək səbətə əlavə olunmadı");
                }
            });
        });
        });
</script>


<div class="box">
    <div class="container">
        <div class="tesla-carousel" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-autoplay="false" data-tesla-rotate="false">
            <div class="site-title">
                <ul class="wrapper-arrows">
                    <li><i class="icon-517 prev" title="left arrow"></i></li>
                    <li><i class="icon-501 next" title="right arrow"></i></li>
                </ul>
                <div class="site-inside"><span>Qidalar</span></div>
            </div>
            <div class="row">
                <div class="tesla-carousel-items">
                    @foreach (var food in Model)
                    {
                        <div class="col-md-3 col-xs-6">
                            <div class="product">
                                <div class="product-cover">
                                    <span class="product-action">
                                        
                                    </span>
                                    <div class="product-cover-hover"><span><a href="/SiteHome/FoodDetail/@food.FoodName">Bax</a></span></div>
                                    @if (food.Images != null)
                                    {
                                        <img src="/Images/@food.Images.FirstOrDefault(x=>x.FoodId == food.ID).Name    " alt="product name" />
                                    }
                                    else
                                    {
                                        <img src="~/Images/Cinnabon.jpg" alt="product name" />
                                    }
                                </div>
                                <div class="product-details">
                                    <h1><a href="/SiteHome/FoodDetail/@food.FoodName">@food.FoodName
                                        </a></h1>
                                    <p>@food.FoodDescription</p>
                                    <div class="product-price"><a name="@food.ID" class="addtobucket">
                                                                   <i class="icon-257" title="add to cart"></i>
                                        </a>
                                       
                                        @food.FoodPrice AZN
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>