﻿
<div class="the-slider slider" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".slide-right" data-tesla-prev=".slide-left" data-tesla-container=".slide-wrapper">
    <div class="slide-arrows">
        <div class="slide-left"></div>
        <div class="slide-right"></div>
    </div>
    <ul class="slide-wrapper">
        <li class="slide"><img src="/Content/Zeon/images/slider/big-1.jpg" alt="slider image"></li>
        <li class="slide"><img src="/Content/Zeon/images/slider/big-2.jpg" alt="slider image"></li>
        <li class="slide"><img src="/Content/Zeon/images/slider/big-3.jpg" alt="slider image"></li>
    </ul>
    <ul class="the-bullets-dots" data-tesla-plugin="bullets">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
</div>