﻿<!DOCTYPE html>
<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="cep,telefon,tablet,pc,laptop,masaüsütü,dizüstü" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <br />
            <div class="btn-group" role="group" aria-label="...">
                <a href="/Category/Index" class="btn btn-primary">Kateqoriyalar</a>
                <a href="/Brand/Index" class="btn btn-primary">Restoranlarimiz</a>
                <a href="/Food/Index" class="btn btn-primary">Yemekler</a>
                <a href="/Order/Index" class="btn btn-primary">Sifarisler </a>
                <a href="/Customer/Login" class="btn btn-primary">Istifadeci </a>
            </div>
        </div>
        <hr />
        <br />
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
