﻿@model AdaRestaurants.Models.Food

@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Resim Eklenen Ürün: @Model.FoodName</h3>
<br />
@using (Html.BeginForm("AddImg", "Food", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" name="foodid" value="@Model.ID" />
    <input type="file" name="files" multiple /><br />
    <input type="submit" value="Yükle" />
}

@if (ViewBag.Mesaj != null)
{
    <p style="color:red">@ViewBag.Mesaj</p>
}


